.footer-container {
  height: 256px;
  width: 100%;
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  margin: 32px auto;
}

.h-line {
  width: 90%;
  height: 0.8px;
  background-color: white;
  margin: 8px auto;
}

.bottom {
  margin: 32px auto;
  text-align: center;
  font-size: 18px;
}

.icon-container {
  margin: 32px;
}


.icon {
  transform: scale(2)
}

a:hover {
  color: darkgray;
}

@media only screen and (max-width: 800px) {
  .icon-container {
    margin: 16px;
  }
}
  