<div class="{{ 'footer-container'| darkLightPipe | async }}">
  <div class="top">
    <!-- discord, linkedin, github, twitter -->
    <a class="icon-container" a href="{{ socials.discord }}"><button mat-icon-button><mat-icon class="icon">discord</mat-icon></button></a>
    <a class="icon-container" href="{{ socials.linkedin }}"><button mat-icon-button><mat-icon class="icon" svgIcon="linkedin"></mat-icon></button></a>
    <a class="icon-container" href="{{socials.github}}"><button mat-icon-button><mat-icon class="icon" svgIcon="github"></mat-icon></button></a>
    <a class="icon-container" href="{{socials.twitter}}"><button mat-icon-button><mat-icon class="icon" svgIcon="twitter"></mat-icon></button></a>
  </div>
  <div class="h-line">
  </div>
  <div class="bottom">
    <div>Ali Umar</div>
    <div>Software Developer, Canada</div>
    <div>&#169; Copyright 2023</div>
  </div>
</div>