.about-card {
  color: white;
  margin: 8px 0;
  border: 0.5px solid white;
}

.skill-card {
  color: white;
  margin: 8px 0;
  border: 0.5px solid white;
}

.interests-card {
  color: white;
  margin: 8px 0;
  margin-bottom: 0;
  border: 0.5px solid white;
}

.technologies-card {
  color: white;
  margin: 8px 0;
  border: 0.5px solid white;
}

.languages-card {
  color: white;
  margin: 8px 0;
  margin-bottom: 0;
  border: 0.5px solid white;
}

.example-header-image {
  background-image: url('/assets/profile_pic.jpg');
  background-size: cover;
}

.tab {
  padding: 16px;
}

.content-container-large {
  display: flex;
  justify-content: space-evenly;
}

.content-container-about {
  margin: 0 8px;
}

.content-container-tools {
  margin: 0 8px;
}
/* @media (min-width: 1200px) {
  .content-container-about {
    display: grid;
    justify-content: space-evenly;
  }

  .about-card {
    max-width: 600px;
  }
} */
