:Host {
  height: 100%;
}

.tab {
  padding: 16px;
  height: calc(100% - 32px);
  font-size: 18px;
}

.about-card {
  color: white;
  margin: 8px 0;
  border: 0.5px solid white;
}

.skill-card {
  color: white;
  margin: 8px 0;
  border: 0.5px solid white;
}

.interests-card {
  color: white;
  margin: 8px 0;
  margin-bottom: 0;
  border: 0.5px solid white;
}

.technologies-card {
  color: white;
  margin: 8px 8px;
  border: 0.5px solid white;
}

.languages-card {
  color: white;
  margin: 8px 8px;
  margin-bottom: 0;
  border: 0.5px solid white;
}

.example-header-image {
  background-image: url('/assets/profile_pic.jpg');
  background-size: cover;
}


.content-container-large {
  display: flex;
  justify-content: space-evenly;
}

.content-container-about {
  margin: 0 8px;
}

.content-container-tools {
  min-width: 55%;
}

.about-title,
.tools-title {
  margin: 16px 8px;
  margin-bottom: 0;
  color: #7b1fa2;
  font-size: 48px;
}

.about-title>span:hover,
.tools-title>span:hover {
  cursor: default;
}

/* @media (min-width: 1200px) {
  .content-container-about {
    display: grid;
    justify-content: space-evenly;
  }

  .about-card {
    max-width: 600px;
  }
} */