<mat-tab-group dynamicHeight fitInkBarToContent class="{{ 'tab' | darkLightPipe | async }}">
  <mat-tab label="About">
    <div class="content-container-about">
      <mat-card class="{{ 'about-card' | darkLightPipe | async }}">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="{{ '' | darkLightPipe | async }}">{{ data.name }}</mat-card-title>
          <mat-card-subtitle class="{{ '' | darkLightPipe | async }}">{{ data.occupation }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ aboutText }}<mat-icon style="position: relative; right: -2px; top: 6px;">tag_faces</mat-icon></p>
        </mat-card-content>
        <mat-card-actions class="{{ '' | darkLightPipe | async }}">
          <a mat-menu href="{{ data.socials.discord }}"><button mat-button>Discord</button></a>
          <a mat-menu href="{{ data.socials.linkedin }}"><button mat-button>LinkedIn</button></a>
          <a mat-menu href="{{ data.socials.github }}"><button mat-button>Github</button></a>
        </mat-card-actions>
      </mat-card>
      <mat-card class="{{ 'skill-card' | darkLightPipe | async}} ">
        <mat-card-header>
          <mat-card-title>Skills</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let item of skills">{{item}}</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card class="{{ 'interests-card' | darkLightPipe | async }}">
        <mat-card-header>
          <mat-card-title>Interests</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let item of interests">{{item}}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Tools & Technologies">
    <mat-card class="{{ 'technologies-card' | darkLightPipe | async }}">
      <mat-card-header>
        <mat-card-title>Technologies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of data.technologies">{{item}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card class="{{ 'languages-card' | darkLightPipe | async }}">
      <mat-card-header>
        <mat-card-title>Programming Languages</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of data.languages">{{item}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>