<div class="name-container">
  <mat-form-field class="fName-box" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="lName-box" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>
</div>
<mat-form-field class="email-box" appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field class="msg-box" appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea style="height: 256px; max-height: 300px;" matInput></textarea>
</mat-form-field>
<div >
  <button class="{{ 'submit-btn' | darkLightPipe | async }}" mat-raised-button>Submit</button>
  <button class="{{ 'reset-btn' | darkLightPipe | async }}" mat-raised-button>Reset</button>
</div>