<div *ngFor="let job of data" class="{{ 'content-container' | darkLightPipe | async }}">
  <div class="left-column">
    <mat-icon class="icon-class">radio_button_checked</mat-icon>
    <div class="{{ 'vertical-line' | darkLightPipe | async }}"></div>
  </div>
  <div class="content">
    <div class="container-header">
      <div>
        <span class="job-title">{{ job.title }}</span>
      </div>
      <div>
        <span class="job-period">{{ job.start_date }} - {{job.end_date }}</span>
      </div>
    </div>
      <br />
    <div><span class="job-employer">{{ job.employer }}</span></div>
    <div><span class="job-loc">{{ job.location }}</span></div>
      <br />
    <div><span class="job-desc">{{ job.description }}</span></div>
  </div>
</div>