---
import ContactForm from "../components/form/ContactForm.astro";
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-gray-700"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="resume" href="/resume" data-astro-reload>Resume</a></li>
    <li><a class="py-3 text-base" id="domains" href="/domains">Domains</a></li>
    <div>
        <div class="text-3xl w-full text-center mt-8">Contact</div>
        <ContactForm />
    </div>
</ul>

<script
    define:vars={{
        sideBarActiveItemID: sideBarActiveItemID,
        activeClass: activeClass,
    }}
>
    const activeItemElem = document.getElementById(sideBarActiveItemID);
    activeItemElem && activeItemElem.classList.add(activeClass);
</script>
