/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.base-content-container {}

.dark {
  background-color: black !important;
  color: white !important;
  border-color: darkgrey !important;
  border-top-color: white;
}

.light {
  background-color: lightgray !important;
  color: black !important;
  border-color: black !important;
  border-top-color: black;
}

.vertical-line-dark {
  background-color: white !important;
}

.vertical-line-light {
  background-color: black !important;
}